* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 16px;
}

img {
  max-width: 100%;
}

ul,
ol {
  list-style: none;
}
